#star-button-text {
    vertical-align: bottom;
    font-size: 34px;
}


#star-button-text > * {
    fill: #ff477e;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 40px 50px 40px;
    background-color: rgba(51, 49, 47, 0.7);
    margin-left: 60px;
    border-radius: 32px 32px 0 0;
}

.alinea-text {
    border-radius: 32px 32px 0 0;
    background-color: rgba(255, 255, 255, 0.2);
    display: flex;
    flex-direction: column;
    color: white;
    padding: 20px 30px;
}

.alinea {
    font-size: 1.2em;
    text-align: left;
    font-weight: 300;
}

.text-link a {
    color: #ff0a54;
    font-weight: 600;
}

.text-link a:hover {
    color: #f9bec7;
}

#drie {
    margin-left: 100px;
    font-weight: 600;
    font-size: 1.4em;
}

.arrow {
    font-size: 30px;
}

.arrow > * {
    fill: #f71818;
    vertical-align: middle;
}

.text-h2 {
    font-size: 2.4em;
    font-variant: all-small-caps;
    color: #f9bec7;
    margin-bottom: 10px;
}
@media only screen and (min-width: 768px) {
    .text-h2 {
        font-size: 1.8em;
    }
}
@media only screen and (min-width: 1200px) {
    .text-h2 {
        font-size: 2.2em;
    }
}

@media only screen and (min-width: 1300px){

    .text {
        padding: 60px;
    }

    .text-h2 {
        font-size: 3em;
    }
}
    @media only screen and (min-width: 1400px) {
    .text-h2 {
        font-size: 3.4em;
    }

    .alinea {
        font-size: 1.6em;
    }
    #drie {
        font-size: 1.6em;
    }
}