#star-button {

    /*font-size: 34px;*/
}


#star-button > * {
    fill: #ff477e;

}
.text {

}
.alinea-text {
    background-color: white;
}

.alinea {
    padding: 10px;

    font-size: 1.6em;
    text-align: left;
    font-weight: 300;

}



.text-h2 {
    font-size: 1.4em;
}

@media only screen and (min-width: 1024px) {
    .text-h2 {
        font-size: 2.4em;
    }
}