.region-ul {
    list-style-type: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*height: auto;*/
    justify-content: space-between;

}
.region-li {
    margin: 8px 0;
}

.booster-bar {
    z-index: 10;
}

a:link {
    text-decoration: none;
}

.region-wrapper {

    position: fixed;
    top: 92px;
    left: 0;
    height: 100%;
    width: 100%;
}

.web-right {
    display: none;
}

.footer-region {
    display: none;
}

.region-title {
    padding: 10px 0 0 0;
}

@media only screen and (min-height: 800px) {
    .region-ul {
    height: 80%;

    }

    .region-wrapper {
        padding-top: 80px;
        /*padding-bottom: 70px;*/


    }
}

@media only screen and (min-width: 767px) {


    .region-wrapper {
        display: flex;
        align-items: stretch;
        /*padding: unset;*/
        position: static;
        flex-direction: row;
        justify-content: stretch;
        padding: 10px 0;
    }
    .region-ul {
        width: 45%;

        background-color: rgba(90, 40, 127, 0.4);
        border-radius: 32px 0 0 0;
        /*padding: 16px;*/
    }

    /*.region-li {*/
    /*    min-width: 100%;*/

    /*}*/

    .footer-region {
        display: flex;
    }

    .web-right {
        display: flex;
        min-height: 100%;
        width: 65%;
        justify-content: stretch;
    }

    /*.region-wrapper {*/
    /*    display: none;*/
    /*}*/
    .region-ul-web {
        list-style-type: none;
        padding: 10px 6px 0 6px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (min-width: 1024px) {
    .region-ul {
        width: 35%;
    }
}