
.switch-wrapper {
    /*position: relative;*/
    height: 60px;
    /*width: 200px;*/
    min-width: 100%;
    background-color: #5a287f;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.switch {
    z-index: 10;
    opacity: 0;
}

.switch-btn {
    box-sizing: border-box;
    position: relative;
    outline: none;
    width: 4.6rem;
    height: 2rem;
    display: block;

    cursor: pointer;
    background: #f71818;
    border-radius: 2rem;
    padding: 3px;
    transition: all .4s ease;
}


.switch-btn::after {
    position: relative;
    left: 0;
    display: block;
    content: "";
    width: 40%;
    height: 100%;
    border-radius: 50%;
    background: white;
    transition: all .2s ease;
}

.switch:checked + .switch-btn {
    background: #2191BB;
}

.switch:checked + .switch-btn::after {
    left: 60%;
}

.season {
    width: 150px;
    color: #f9bec7;
}