.map {
    width: 90%;
    margin-right: 12px;
}

#noordwest {
    width: 52%;
    height: 46%;
    margin-top: -6px;

}
#zuidwest{
    width: 52%;
    height: 54%;
    margin-top: -6px;
}

#noordoost {
    width: 48%;
    height: 46%;
    margin-top: -6px;
}
#zuidoost {
    margin-top: -6px;
    width: 48%;
    height: 54%;
}

/*    #noordwest:hover, #wadden:hover {*/
/*    cursor: pointer;*/

/*}*/

#wadden {
    width: 100%;
    margin-top: 6px;
    padding: 0;
}
