.home {
    padding-top: 30px;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    /*height: 535px;*/
    /*background-color: white;*/
}

.home-wrapper {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    /*justify-content: space-between;*/
    text-align: center;
    /*height: 535px;*/
    /*background-color: white;*/
}

.pop-up {
    /*height: 100%;*/
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("/src/assets/images/friesland_map_gedraaid.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center top;
    margin-bottom: 14px;
}

.welkom {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    margin-bottom: 40px;
    align-items: center;
    /*margin-top: 20px;*/
    background-color: rgba(90, 40, 127, 0.7);
    /*height: 290px;*/
    width: 80%;
    padding:12px 20px;
    color: white;
    border: 3px solid #fff;
    box-shadow: .25rem .5rem 1rem 0 rgba(0, 0, 0, 0.1);
}
.web-home {
    display: none;
}
.welkom-text {
    font-size: 30px;
}

.intro {
    margin-top: 16px;
    font-size: 1.2rem;
}
.intro-2 {
    margin-top: 12px;
    font-size: 1rem;
}
.icon-terrace {
    margin-top: 40px;
    width: 24%;
    fill: #f71818;
}

@media only screen and (min-width: 767px) {
    .home {
        /*height: 200px;*/
        justify-content: flex-start;
        padding-top: 0;
        height: auto;
    }
    .home-wrapper {
       display: none;
    }
    .home-title {
        display: none;
    }

    .pop-up {
        display: none;
    }
    .map-web {
        width: 600px;
        height: auto;
        /*margin-bottom: 0;*/
        align-self: center;
    }
    .signup{
        display: none;
    }
    .pop-up {
        max-height: 100vh;
    }
    .welkom {
        display: none;
    }
    .web-home{
        margin-top: 60px;
        display: flex;

        /*width: 100vw;*/
        height: 800px;
    }
    .web-left {
        background-color: #f71818;
        color: #33312F;

        /*width: 34%;*/
    }
    .web-right {
        /*background-color: #5a287f;*/
        display: flex;
        /*width: 66%;*/
        justify-content: center;
    }
}