.home {
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    text-align: center;
}

.home-wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100%;
}

.pop-up {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("/src/assets/images/friesland_map_gedraaid.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center top;
    margin-bottom: 14px;
    margin-top: 12px;
}

.welkom {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    margin-bottom: 40px;
    align-items: center;
    background-color: rgba(90, 40, 127, 0.7);
    width: 80%;
    padding: 12px 20px;
    color: white;
    border: 3px solid #fff;
    box-shadow: .25rem .5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.web-home {
    display: none;
}

.welkom-text {
    font-size: 30px;
}

.intro {
    margin-top: 16px;
    font-size: 1.2rem;
}

.intro-2 {
    margin-top: 12px;
    font-size: 1rem;
}

.icon-terrace {
    margin-top: 40px;
    width: 24%;
    fill: #f71818;
}

.signup {
    display: inline-block;
}

@media only screen and (min-width: 414px) {
    .home-wrapper {
        height: 498px;
    }

}

@media only screen and (min-height: 812px) {
    .home-wrapper {
        height: 574px;
    }

}

@media only screen and (min-width: 767px) {
    .home {
        justify-content: flex-start;
        padding-top: 0;
        height: auto;
    }

    .home-wrapper {
        display: none;
    }

    .home-title {
        display: none;
    }

    .pop-up {
        display: none;
    }

    .signup {
        display: none;
    }

    .welkom {
        display: none;
    }

    .web-home {
        display: flex;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }

    .web-left {
        color: #33312F;
        min-height: 400px;
        min-width: 400px;
        max-width: 640px;
        border-radius: 32px 32px 0 0;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: flex-end;
        background-color: rgba(90, 40, 127, 0.4);
    }

    .map-web-left {
        width: 400px;
        border-radius: 32px 32px 0 0;
    }

    .footer-web-left {
        width: 100%;
        margin-bottom: 0;
    }

    .web-right {
        display: flex;
        min-height: 100%;
        justify-content: stretch;
    }

    .map-example {
        width: 100%;
        padding: 0;
        margin-bottom: -6px;
        min-height: 100%;
    }
}
