.navbar{
    width: 100%;
    background-color: #ff0a54;
    height: 60px;
    margin:0;
    top: 0;
    left: 0;
    display: flex;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*position: fixed;*/
    z-index: 10;
    /*flex-wrap: wrap;*/
}
/*.navbar-input{*/
/*    !*width: 100%;*!*/
/*    display: flex;*/
/*    !*justify-content: space-between;*!*/
/*    !*align-content: space-between;*!*/
/*    !*align-items: center;*!*/

/*}*/
.settings {
    font-size: 40px;

    text-decoration: none;
    color: #33312F;
}
.refresh {
    font-size: 40px;
    text-decoration: none;
    color: #f9bec7;
}


.username {
    width: 200px;

    text-align: center;
    font-size: 24px;
    color: white;
}

.username a {
    text-decoration: none;
}

@media only screen and (min-width: 767px){
    .navbar {
        position: fixed;
    }
}