.auth-wrapper{
    display: flex;
    flex-direction: column;
}

.signup-wrapper {
    margin-top: 40px;
    /*background-color: white;*/
    width: 316px;
    padding: 20px;
    min-height: 470px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    max-height: 100vh;
}
.submit-button {
    margin: 40px auto 10px auto;
    height: 40px;
    background-color: #f71818;
    min-width: 200px;
    color: white;
    border: none;
    font-weight: bold;
    font-size: 18px;
    border-radius: 8px;
}
.input {
    margin-bottom: 6px;
    width: 250px;
    height: 26px;
    padding: 4px;
}
@media only screen and (min-width: 767px) {
    .signup-wrapper {
        width: 100vh;
    }
}