#red {
    color: #f71818;
}

#purple {
    color: #5a287f;
}

#hotpink {
    color: #ff477e;
}

#lightpink {
    color: #f9bec7;
}

body {
    font-family: 'Core Sans G', Arial, sans-serif;
    width: 100vw;
    color: #33312F;
}

.weather-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    min-height: 100%;
}

.weather-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: auto;
    flex-grow: 1;
    background: linear-gradient(#ffffff, #f9bec7);
}

@media only screen and (min-width: 767px) {

    .weather-container {
        position: static;
        width: 100vw;
        height: auto;
    }

    .weather-wrapper {
        padding: 60px 30px 160px 30px;
        height: 100%;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        max-width: 1600px;
        flex-grow: 1;
        background: linear-gradient(#ffffff, #f9bec7);

    }
}

@media only screen and (min-width: 1024px) {
    .weather-wrapper {
        padding: 60px 60px 160px 60px;

    }
}

@media only screen and (min-width: 1600px) {
    .weather-container {
        background: linear-gradient(#ffffff, #f9bec7);
        padding: 0 0 20px 0;
    }

    .weather-wrapper {
        min-height: 590px;
        width: 1600px;
        margin-left: auto;
        margin-right: auto;
        background: white;
        box-shadow: .25rem .5rem 1rem 0 rgba(0, 0, 0, 0.1);
    }

}