#red {
    color: #f71818;
}

#purple {
    color: #5a287f;
}

#hotpink {
    color: #ff477e;
}

#lightpink {
    color: #f9bec7;
}

body {
    font-family: 'Core Sans G', Arial, sans-serif;
    width: 100vw;
    height: 100vh;
    background-color: #F4ECE5;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #33312F;
}

.weather-container {
    position: relative;
    width: 375px;
    height: 667px;
    background-color: white;
    border-radius: 2px;
    box-shadow: .25rem .5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.weather-header {
    width: 100%;
    border-radius: 2px 2px 0 0;
    height: 540px;
    background: linear-gradient(#f9bec7, #ff477e);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.location-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 480px;
    text-transform: capitalize;
}

.weather-content {

}

.tab-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: stretch;

}
