.map{
    /*margin-bottom: 50px;*/
    max-width: 400px;
    height: 230px;
}

#friesland {
    width: 100%;
}

#noordwest {
    width: 52%;
    height: 46%;
    margin-top: -6px;
}

#zuidwest {
    width: 52%;
    height: 54%;
    margin-top: -6px;
}

#noordoost {
    width: 48%;
    height: 46%;
    margin-top: -6px;
}

#zuidoost {
    margin-top: -6px;
    width: 48%;
    height: 54%;
}

#wadden {
    width: 100%;
    margin-top: 6px;
    padding: 0;
}


@media only screen and (min-width: 767px) {
  .map {
     max-width: 640px;
      height: auto;

      /*height: 60%;*/
  }
}